# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# PyInstaller
build/
dist/
*.spec

# Virtual env
venv/
env/

# System
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Local binaries (not tracked)
ffmpeg/
ytdlp/
app/config.json
