name: Build Windows EXE

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

jobs:
  build:
    runs-on: windows-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      - name: Install Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.11"

      - name: Install Dependencies
        run: |
          pip install -r requirements.txt
          pip install pyinstaller

      # -------------------------------
      # DOWNLOAD YT-DLP
      # -------------------------------
      - name: Download yt-dlp.exe
        run: |
          mkdir ytdlp
          curl -L https://github.com/yt-dlp/yt-dlp/releases/latest/download/yt-dlp.exe -o ytdlp/yt-dlp.exe

      # -------------------------------
      # DOWNLOAD AND EXTRACT FFMPEG
      # -------------------------------
      - name: Download FFmpeg
        run: |
          curl -L https://www.gyan.dev/ffmpeg/builds/ffmpeg-release-essentials.zip -o ffmpeg.zip

          # Extract zip
          powershell -command "Expand-Archive ffmpeg.zip -DestinationPath ffmpeg_temp"

          # Create final ffmpeg folder
          mkdir ffmpeg

          # Copy bin files from extracted folder to ffmpeg/
          powershell -command "Get-ChildItem ffmpeg_temp -Directory | Select-Object -First 1 | ForEach-Object { Copy-Item \"$($_.FullName)\bin\*\" ffmpeg -Recurse -Force }"

          # Cleanup
          Remove-Item ffmpeg_temp -Recurse -Force
          Remove-Item ffmpeg.zip -Force

      # -------------------------------
      # BUILD EXE
      # -------------------------------
      - name: Build EXE
        run: |
          cd app
          pyinstaller --noconsole --onefile --windowed --add-data "../ffmpeg;ffmpeg" --add-data "../ytdlp;ytdlp" --add-data "resources;resources" --icon "resources/icon.ico" youtube_downloader.py

      # -------------------------------
      # UPLOAD TO RELEASE
      # -------------------------------
      - name: Upload EXE to Release
        uses: softprops/action-gh-release@v1
        with:
          files: app/dist/youtube_downloader.exe
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
